<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/Assets/Home/images/fav.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <title>Trường ngoại khóa TOMATO | TOMATO Children's Home</title>
    <meta property="og:title" content="Trường ngoại khóa TOMATO | TOMATO Children's Home">
    <meta name="description" content="TOMATO là một trường ngoại khóa chuyên sâu đầu tiên dành cho trẻ em, nơi trí tuệ, tình cảm và ước mơ của các bé được tôn trọng và nuôi dưỡng. ">
    <meta property="og:description" content="TOMATO là một trường ngoại khóa chuyên sâu đầu tiên dành cho trẻ em, nơi trí tuệ, tình cảm và ước mơ của các bé được tôn trọng và nuôi dưỡng. ">
    <meta property="og:type" content="article">
    <meta property="og:app_id" content="">
    <meta property="og:image" content="https://tomato.edu.vn/_default_upload_bucket/tomato-og.png">
    <meta property="og:title" content="TOMATO – Trường ngoại khóa chuyên sâu đầu tiên dành cho trẻ em ">
    <meta property="og:description" content="TOMATO là một trường ngoại khóa chuyên sâu đầu tiên dành cho trẻ em, nơi trí tuệ, tình cảm và ước mơ của các bé được tôn trọng và nuôi dưỡng. ">

    <link href="/Assets/Home/vendor/bootstrap/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/owlcarousel/owl.carousel.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/owlcarousel/owl.theme.default.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/wow/animation.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/semantic/semantic.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/fancybox/jquery.fancybox.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/css/style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/css/customer.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/Assets/Home/vendor/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/Assets/Home/vendor/jquery/vue.js"></script>
    <script type="text/javascript" src="/Assets/Home/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

</head>
<body>
    
<header class="page-header">
    <div class="container-header">
        <div class="logo">
            <a href="/"><img src="/Assets/Home/images/logo.png" alt=""> </a>
        </div>
        <div class="box-shadow-mb"></div>
        <div class="toggle-icon">
            <div class="inner-toggle-icon"> <span></span> <span></span> <span></span> </div>
        </div> 
        <div class="main-menu">
    <ul class="ul-main">
                    <li><a href="/" title="Trang chủ">TRANG CHỦ</a></li>
                    <li><a title="Về tomato">VỀ TOMATO</a></li>
                    <li><a href="/cong-thuc-lam-my-pham" title="Chương tr&#236;nh">CHƯƠNG TR&#204;NH</a></li>
                    <li><a href="/nghien-cuu" title="Học ph&#237;">HỌC PH&#205;</a></li>
                    <li><a href="https://ipure.vn" title="Thư viện">THƯ VIỆN</a></li>
                    <li><a href="https://vnpack.net" title="Tin tức">TIN TỨC</a></li>
             <li class="">
                <a class="register" href="/dang-ky">ĐĂNG KÝ </a>
            </li>
        </ul>
    <div class="clearfix"></div> <a class="register-mobile" href="/dang-ky">ĐĂNG KÝ</a>
</div>
    </div>
</header>

    


<main class="page-main page-home">
    <div class="blk-banner-slider md-slider">
        <div class="fixed-social-destop">
            <ul>
                <li><a href="https://www.facebook.com/TruongTOMATO"><img src="/Assets/Home/images/ico-fb.png" alt=""></a></li>
                <li><a href="https://www.instagram.com/truongtomato/"><img src="/Assets/Home/images/ico-yt.png" alt=""></a></li>
                <li><a href="https://www.youtube.com/user/TomatoChildrenHome"><img src="/Assets/Home/images/ico-instagram.png" alt=""></a></li>
            </ul>
        </div>
        <div class="ctn-blk-banner">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <a href="https://tomato.edu.vn/chuong-trinh-hoc-tap/be-vao-lop-1/fun-abc"> <img src="/_default_upload_bucket/banner%20web-01.jpg"> </a>
                </div>
                <div class="item">
                    <a href="https://tomato.edu.vn/chuong-trinh-hoc-tap/chuong-trinh-mam-non/smart-kids-junior"> <img src="/_default_upload_bucket/smart%20kid%20junior%20online-banner%201920x1080.png"> </a>
                </div>
                <div class="item">
                    <a href="https://tomato.edu.vn/chuong-trinh-hoc-tap/be-vao-lop-1/strong-start"> <img src="/_default_upload_bucket/banner%20web-strong%20start.jpg"> </a>
                </div>
                <div class="item">
                    <a href="https://tomato.edu.vn/chuong-trinh-hoc-tap/chuong-trinh-he"> <img src="/_default_upload_bucket/summer%20school%202023%20-%20banner%20web%20trang%20chu-01khampha.png"> </a>
                </div>
                <div class="item">
                    <a href="https://mamnon.tomato.edu.vn/"> <img src="/_default_upload_bucket/banner%20web%20mam%20non-01%20%281%29_1.png"> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-triet-ly mrg-section">
        <div class="container-70">
            <div class="thumb-nail wow fadeInRight" data-wow-delay="0.2s"> <img alt="" title="" src="/_default_upload_bucket/thumb-1_1.png"> </div>
            <div class="content clearfix wow fadeInLeft" data-wow-delay="0.2s">
                <h3 class="md-title">TRIẾT LÝ CÀ CHUA</h3>
                <div class="info">
                    <p> Trong một khu vườn nhỏ vào một buổi sớm nọ, Cà Chua Non cựa mình mở mắt chào mặt trời.“Chào con, bé yêu của mẹ!” - Cà Chua Mẹ đặt một nụ hôn âu yếm lên trán của Cà Chua Non. “Chào mừng con đến với Khu vườn Cuộc Sống!” - Cà Chua Bố vẫy vẫy những chiếc lá xanh của ông dưới ánh nắng của buổi sớm mai một cách đầy hân hoan. </p>
                </div> <a href="/ve-tomato/triet-ly-va-phuong-phap-giao-duc" class="read-more">Xem thêm</a>
            </div>
        </div>
    </div>
    <div class="truong-ngoai-khoa mrg-section">
        <div class="container-70">
            <h3 class="md-title">TRƯỜNG NGOẠI KHÓA</h3>
            <div class="md-slider-center md-slider-center-1 wow fadeInUp" data-wow-delay="0.2s">
                <div class="owl-carousel owl-theme">
                    <div class="item item-1">
                        <div class="inner-item">
                            <div class="icon icon-1"> <img alt="" title="" src="/_default_upload_bucket/ico-tomato-1_2.jpg"> </div>
                            <div class="content">
                                <h4 class="font-size-35">
                                    Chương Trình Tiểu Học
                                </h4>
                                <div class="info">
                                    <p> Chương trình ngoại khóa của TOMATO được xây dựng theo phương pháp giáo dục hiện đại sẽ giúp các bé trang bị kỹ năng, động lực để có thể đánh thức những tiềm năng bên trong và trở thành những con người tự tin làm chủ cuộc đời mình. </p>
                                </div>
                                <div class="bottom"> <a href="/chuong-trinh-hoc-tap/chuong-trinh-tieu-hoc" class="md-more">Chi tiết</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item-1">
                        <div class="inner-item">
                            <div class="icon icon-2"> <img alt="" title="" src="/_default_upload_bucket/ico-tomato-2_1.jpg"> </div>
                            <div class="content">
                                <h4 class="font-size-39">Chương Trình Mầm Non</h4>
                                <div class="info">
                                    <p>Các chương trình dành cho bé trong độ tuổi từ 3 - 6 được TOMATO xây dựng theo phương pháp học bằng cách chơi để giúp các con phát triển về mặt cảm xúc, phát triển trí thông minh đa dạng ở giai đoạn đầu đời.</p>
                                </div>
                                <div class="bottom"> <a href="/chuong-trinh-hoc-tap/chuong-trinh-mam-non" class="md-more">Chi tiết</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item-1">
                        <div class="inner-item">
                            <div class="icon icon-3"> <img alt="" title="" src="/_default_upload_bucket/ico-tomato-3_1.jpg"> </div>
                            <div class="content">
                                <h4 class="font-size-35">Bé Vào Lớp 1</h4>
                                <div class="info">
                                    <p>Chương trình dành cho các bé chuẩn bị vào lớp 1 tại TOMATO sẽ là một môi trường giúp bé chuyển tiếp giữa trường mẫu giáo và trường tiểu học. Các bé sẽ tự tin bước vào lớp 1 với các kĩ năng làm chủ bản thân, làm chủ việc học và biết cách giải quyết vấn đề.</p>
                                </div>
                                <div class="bottom"> <a href="/chuong-trinh-hoc-tap/be-vao-lop-1" class="md-more">Chi tiết</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="blk-home-gellary">
        <div class="container-70">
            <h3 class="md-title">HÌNH ẢNH HOẠT ĐỘNG</h3>
            <div class="slider-news dot-start">
                <div class="md-news customer_bantin">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="md-col wow fadeInUp-hl" data-wo-delay="0.3s">
                                <div class="inner img">
                                    <div class="thumb">
                                        <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/_default_upload_bucket/NAMX0492.JPG">
                                            <img src="/_default_upload_bucket/NAMX0492.JPG" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="md-col wow fadeInUp-hl" data-wo-delay="0.3s">
                                <div class="inner">
                                    <div class="thumb">
                                        <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/_default_upload_bucket/banner%20ngay%20hoi%20DFC-WEB%20%281%29.jpg">
                                            <img src="/_default_upload_bucket/banner%20ngay%20hoi%20DFC-WEB%20%281%29.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="md-col wow fadeInUp-hl" data-wo-delay="0.3s">
                                <div class="inner">
                                    <div class="thumb">
                                        <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/_default_upload_bucket/banner%20ngay%20hoi%20tuyen%20sinh%202022-2023-WEB.jpg">
                                            <img src="/_default_upload_bucket/banner%20ngay%20hoi%20tuyen%20sinh%202022-2023-WEB.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="md-col wow fadeInUp-hl" data-wo-delay="0.3s">
                                <div class="inner">
                                    <div class="thumb">
                                        <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/_default_upload_bucket/z3551222776334_f5e0f09c40c1e9b91c3f8f1549711aa3.jpg">
                                            <img src="/_default_upload_bucket/z3551222776334_f5e0f09c40c1e9b91c3f8f1549711aa3.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="md-col wow fadeInUp-hl" data-wo-delay="0.3s">
                                <div class="inner">
                                    <div class="thumb">
                                        <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/_default_upload_bucket/tomato%20-%20doan%20dai%20s%C6%B0%20%281%29.jpg">
                                            <img src="/_default_upload_bucket/tomato%20-%20doan%20dai%20s%C6%B0%20%281%29.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="md-col wow fadeInUp-hl" data-wo-delay="0.3s">
                                <div class="inner">
                                    <div class="thumb">
                                        <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/_default_upload_bucket/banner%20web%20mam%20non-tin%20tuc.jpg">
                                            <img src="/_default_upload_bucket/banner%20web%20mam%20non-tin%20tuc.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div>
        <style>
            .home-register {
                background: url(/assets/home/images/img-4.jpg) #0119d5 no-repeat;
                -webkit-background-size: 100% auto;
                background-size: 100% auto;
                padding-bottom: 60px;
            }
        </style>
        <div class="home-register" id="register_form">
            <div class="container-70">
                <div class="img-right"> <img class=" wow fadeInLeft" data-wow-delay="0.2s" src="/Assets/Home/images/home/children.png" alt=""> </div>
                <div class="content wow fadeInRight" data-wow-delay="0.2s">
                    <p> TOMATO xem việc chia sẻ tri thức và đồng hành cùng gia đình là một nhiệm vụ và một niềm vinh dự.Hãy đăng ký để nhận (miễn phí) mỗi tháng một bài học mà phụ huynh có thể tự dạy ở nhà. </p>
                    <form action="">
                        <div class="md-row">
                            <input type="text" v-model="form.fullname_parents" placeholder="Họ tên phụ huynh *">
                            <!-- <p class="error">Vui lòng nhập họ tên phụ huynh</p> -->
                        </div>
                        <div class="md-row clearfix">
                            <div class="md-col-1">
                                <input type="text" v-model="form.fullname_baby" placeholder="Họ tên bé *">
                                <!-- <p class="error">Vui lòng nhập họ tên bé</p> -->
                            </div>
                        </div>
                        <div class="md-row clearfix">
                            <div class="md-col-2">
                                <input type="number" v-model="form.age_baby" placeholder="Tuổi của bé *">
                                <!-- <p class="error">Vui lòng nhập tuổi bé</p> -->
                            </div>
                        </div>
                        <div class="md-row clearfix">
                            <div class="md-col">
                                <input type="email" v-model="form.email" placeholder="Email *">
                                <!-- <p class="error">Vui lòng nhập email</p> -->
                            </div>
                        </div>
                        <div class="md-row clearfix">
                            <div class="md-col">
                                <input type="phone" v-model="form.phone" placeholder="Số điện thoại *">
                                <!-- <p class="error">Vui lòng nhập số điện thoại</p> -->
                            </div>
                        </div>
                        <div class="md-chuongtrinh md-row">
                            <select v-model="form.study_program">
                                <option value="" disabled="disabled" selected="selected">Chương trình học quan tâm
                                <option value="Chương trình tiểu học">Chương trình tiểu học
                                <option value="Chương trình mầm non">Chương trình mầm non
                                <option value="Bé vào lớp 1">Bé vào lớp 1
                                <option value="Chương trình Hè">Chương trình Hè
                            </select>
                        </div>
                        <div class="md-trungtam md-row">
                            <select v-model="form.center">
                                <option value="" disabled="disabled" selected="center">Trung tâm
                                <option value="TOMATO Phú Nhuận">TOMATO Phú Nhuận
                                <option value="TOMATO SALA">TOMATO SALA
                                <option value="TOMATO LAKEVIEW CITY">TOMATO LAKEVIEW CITY
                                <option value="TOMATO Quận 7">
                                    TOMATO Quận 7
                                    <!-- <option value="TOMATO Biên Hòa">TOMATO Biên Hòa</option> -->
                                <option value="TOMATO Quận 9">TOMATO Quận 9
                            </select>
                        </div>
                        <div class="md-trungtam md-row wow fadeInUp text-center" v-if="res.message && res.status"> <span :class="'text-'+res.status">{[{res.message}]}</span> </div>
                        <input v-if="!submit" type="button" click="onSubmit" value="Đăng ký ngay">
                        <input v-else="" type="button" style="opacity: 0.6" value="Loading...">
                    </form>
                </div>
            </div>
        </div>
        <div id="modal-sucess" class="md-modal">
            <div class="content-popup">
                <img class="ico-checked" src="/Assets/Home/images/popup.png" alt="">
                <div class="info">
                    <h4>Đăng ký thành công!</h4>
                    <p>Bộ phận CSKH sẽ sớm liên lạc lại với bạn trong thời gian sớm nhất.</p>
                </div>
                <div class="close">
                    <button data-fancybox-close="" class="btn btn-primary ">ĐÓNG</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img width="200" class="mb-2" src="/Assets/Home/images/logo.png" alt="">
                        <p>Đăng ký để nhận thông tin chương trình và các ưu đãi mới nhất từ TOMATO</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Để sau</button>
                        <a href="/dang-ky-ngay">
                            <button type="button" class="btn btn-primary">Đăng ký</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d489.9396429663774!2d106.72588629967798!3d10.771647465376207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6859f0df34f6b56f!2sThe%20Edu%20House!5e0!3m2!1sen!2s!4v1617436968153!5m2!1sen!2s" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</main>

    <!-- /.page-main -->
    <script type="application/javascript">

        var IndexVuejs = new Vue({
            el: '#register_form',
            delimiters: ['{[{', '}]}'],
            data: {
                form: {
                    fullname_parents: '',
                    fullname_baby: '',
                    age_baby: '',
                    email: '',
                    study_program: '',
                    center: '',
                    phone: ''
                },
                submit: false,
                res: {
                    message: '',
                    status: ''
                }

            },
            methods: {
                onSubmit(){
                    var sef = this;
                    sef.submit = true;
                    sef.res.message = '';
                    $.ajax({
                        url: "/tong-dai-tomato/register-now",
                        type: "POST",
                        dataType: "json",
                        headers: {
                        },
                        data: sef.form,
                        success: function(result) {

                            sef.res.status = result.status ? 'success' : 'danger';
                            sef.res.message = result.message;
                            sef.submit = false;
                            if (result.status){
                                sef.form.fullname_parents = '';
                                sef.form.fullname_baby = '';
                                sef.form.age_baby = '';
                                sef.form.email = '';
                                sef.form.study_program = '';
                                sef.form.center = '';
                                sef.form.phone = '';
                                dataLayer.push({'event': 'gtm_form_submit_success'});
                            };


                        },
                        error: function(xhr, textStatus, errorThrown ) {
                            sef.submit = false;
                        }
                    })
                },
            }
        })

    </script>


    
    <footer class="page-footer clearfix">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="/"> TOMATO</a>
    </div>
    <!-- Copyright -->
    <!--<div class="container clearfix">
        <ul class="clearfix">
            <li><a href="https://www.facebook.com/TheEduHouseVN" target="_blank"><img src="https://www.theeduhouse.vn/skin/front/edu/images/ico-fb.png" alt=""></a></li>-->
    <!-- <li><a href="https://www.facebook.com/TheEduHouseVN" target="_blank"><img src="/images/ico-insta.png" alt=""></a></li>
    <li><a href="https://www.facebook.com/TheEduHouseVN" target="_blank"><img src="/images/ico-twi.png" alt=""></a></li> -->
    <!--</ul>
        <p>© 2021 The Edu House. All rights reserved.</p>

    </div>-->
    <div class="blk-phone">
        <a href="tel:0909061444">
            <img src="https://www.theeduhouse.vn/skin/front/edu/images/icon-phone.png" alt="">

            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-circle"></div>
        </a>

    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-534f4bda6de3a0fe">console.log('loaded');</script>
</footer>
<footer class="page-footer">
    
</footer>


    <!-- Modal -->
<div class="popup_mes" id="register_forms">
    <ul class="side-tool__tools">
        <li>
            <a href="tel:0906616212" target="_blank">
                <div><span class="icon-hcm"></span></div>
                <div>0906 616 212</div>
            </a>
        </li>
    </ul>
    <div class="side-tool__sign-up">
        <form action="#" method="post" id="formNewsletter2" target="_top" onsubmit="return false">
            <div class="side-tool__sign-up__expand-btn">
                <img src="/Assets/Home/images/register.png" alt="register">
                <p>Đăng ký <br>ngay</p>
            </div>
            <div class="side-tool__sign-up__form">
                <input type="text" v-model="form.fullname" placeholder="Họ tên phụ huynh">
                <input type="text" v-model="form.fullname_baby" placeholder="Họ tên bé">
                <input type="phone" v-model="form.phone" placeholder="Số điện thoại">
                <input type="email" v-model="form.email" placeholder="Email">
                <select v-model="form.center">
                    <option value="" disabled="disabled" selected="center">Trung tâm
                    <option value="TOMATO Phú Nhuận">TOMATO Phú Nhuận
                    <option value="TOMATO SALA">TOMATO SALA
                    <option value="TOMATO LAKEVIEW CITY">TOMATO LAKEVIEW CITY
                    <option value="TOMATO Quận 7">
                        TOMATO Quận 7
                        <!-- <option value="TOMATO Biên Hòa">TOMATO Biên Hòa</option> -->
                    <option value="TOMATO Quận 9">TOMATO Quận 9

                </select>
                <textarea v-model="form.question" name="" id="" cols="30" rows="3" placeholder="Câu hỏi…"></textarea>
            </div>

            <div class="side-tool__sign-up__submit">
                <button v-if="!submit" type="button" click="onSubmit" class="btn-form-register"> <i class="fa fa-send"></i><br>Gửi </button>
                <button v-else="" type="button" class="btn-form-register"> <i class="fa fa-send"></i><br>Loading...</button>
            </div>

        </form>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body text-center">

                    <img width="200" class="mb-2" src="/Assets/Home/images/logo.png" alt="">

                    <p>{[{res.message}]}</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>

                </div>
            </div>
        </div>
    </div>
</div>
    <script src="/Assets/Home/vendor/bootstrap/popper.min.js"></script>
    <script src="/Assets/Home/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/Assets/Home/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Assets/Home/vendor/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Assets/Home/vendor/semantic/semantic.min.js"></script>
    <script src="/Assets/Home/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="/Assets/Home/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/Assets/Home/vendor/wow/wow.min.js"></script>
    <script src="/Assets/Home/scripts/an.js"></script>
    
    
    <script type="application/javascript">
        $('.owl-carouselsss').owlCarousel({
            loop:false,
            dots: false,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:2,
                    nav:true
                },
                1000:{
                    items:3,
                    nav:true,
                    loop:false
                }
            }
        })


        var IndexVuejs = new Vue({
            el: '#register_forms',
            delimiters: ['{[{', '}]}'],
            data: {
                form: {
                    fullname: '',
                    fullname_baby: '',
                    email: '',
                    phone: '',
                    question:'',
                    center: ''
                },
                submit: false,
                res: {
                    message: '',
                    status: ''
                }

            },
            methods: {
                onSubmit(){
                    var sef = this;
                    sef.submit = true;
                    sef.res.message = '';
                    $.ajax({
                        url: "/tong-dai-tomato/register",
                        type: "POST",
                        dataType: "json",
                        headers: {
                        },
                        data: sef.form,
                        success: function(result) {
                            sef.res.message = result.message;
                            sef.submit = false;

                            if (result.status){
                                sef.form.fullname = '';
                                sef.form.fullname_baby = '';
                                sef.form.email = '';
                                sef.form.phone = '';
                                sef.form.question = '';
                                sef.form.center = '';

                                gtag('event', 'consultation-success', {
                                  'event_category' : 'general',
                                  'event_label' : 'consultation'
                                });
                                dataLayer.push({'event': 'gtm_form_submit_success'});
                            }
                            $('#exampleModal2').modal('show');

                        },
                        error: function(xhr, textStatus, errorThrown ) {
                            sef.submit = false;
                        }
                    })
                },
            }
        })


        $('a[data-click-download-book]').click(function(){
            $("#modal-get-info").fancybox().trigger('click');
        })
    </script>
</body>
</html>
