@using KidsSchool.Models.Dao;
@{
    var getconfig = DataPuplic.GetInstance().GetConfig(false);
    if (getconfig != null)
    {
        <!-- Modal -->
        <div class="popup_mes" id="register_forms">
            <ul class="side-tool__tools">
                <li>
                    <a href="tel:@getconfig.Phone" target="_blank">
                        <div><span class="icon-hcm"></span></div>
                        <div>@getconfig.Phone</div>
                    </a>
                </li>
            </ul>
            <div class="side-tool__sign-up" data-toggle="modal" data-target="#exampleModalContact">
                <div class="side-tool__sign-up__expand-btn">
                    <img src="/Assets/Home/images/register.png" alt="register">
                    <p style="font-size: 17px;">Đăng <br />&nbsp; ký</p>
                </div>
                <div class="side-tool__sign-up__form">
                </div>

                <div class="side-tool__sign-up__submit">
                    <button type="button" click="onSubmit" class="btn-form-register"> <i class="fa fa-send"></i><br>Gửi </button>
                </div>
            </div>
        </div>
        }
    }