@using KidsSchool.Models.Dao;
@{
    var getconfig = CacheHelper.GetInstance().GetConfig(false);
    if (getconfig != null)
    {
        <!-- Modal -->
        <div class="popup_mes" id="register_forms">
            <ul class="side-tool__tools">
                <li>
                    
                    <div style="position: absolute; left: 59px; top: 10px; font-size: 20px;">@getconfig.Phone</div>
                    <div id="phone-vr" class="button-contact">
                        <div class="phone-vr">
                            <div class="phone-vr-circle-fill"></div>
                            <div class="phone-vr-img-circle">
                                <a href="tel:@getconfig.Phone">
                                    <img alt="Phone" src="/Assets/Home/images/phone.png" data-pin-no-hover="true">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="side-tool__sign-up" data-toggle="modal" data-target="#exampleModalContact">
                <div class="side-tool__sign-up__expand-btn">
                    <img src="/Assets/Home/images/register.png" alt="register">
                    <p style="font-size: 17px;">Đăng <br />&nbsp; ký</p>
                </div>
                <div class="side-tool__sign-up__form">
                </div>

                <div class="side-tool__sign-up__submit">
                    <button type="button" click="onSubmit" class="btn-form-register"> <i class="fa fa-send"></i><br>Gửi </button>
                </div>
            </div>
        </div>
        }
    }