@using KidsSchool.Models.Dao;
@{
    try
    {
        var banner = DataPuplic.GetInstance().GetBanner(false).FirstOrDefault(x => x.Active && x.BannerTypeId == 2);
        if (banner != null)
        {
        <div class="modal" tabindex="-1" role="dialog" id="myDialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title">KOJIN</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Đóng">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img alt="@banner.Name" style="width:100%;" title="@banner.Name" src="@banner.Images" />
                    </div>
                </div>
            </div>
        </div>
            }
    }
    catch { }
 }



        <div class="modal" tabindex="-1" role="dialog" id="exampleModalContact">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Liên hệ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="javascript:SubmitSentContact('txtNamedialog','txtchildNamedialog','txtchildAgedialog','txtmaildialog','txtphonedialog','none','none','txtquestiondialog', 1)">
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtNamedialog" placeholder="Họ tên phụ huynh *" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtchildNamedialog" placeholder="Họ tên bé *" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtchildAgedialog" placeholder="Tuổi của bé *" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtmaildialog" placeholder="Email *" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtphonedialog" placeholder="Số điện thoại *" required>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control" id="txtquestiondialog" cols="30" rows="3" placeholder="Câu hỏi…"></textarea>
                            </div>
                            <button type="button" onclick="SubmitSentContact('txtNamedialog','txtchildNamedialog','txtchildAgedialog','txtmaildialog','txtphonedialog','none','none','txtquestiondialog', 1)" class="btn btn-primary">Gửi thông tin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
