<footer class="page-footer">
    <div class="back-to-top"></div>
    <div class="container-90 clearfix">
        <div class="blk-col blk-col-1 wow fadeInUp" data-wow-delay="0.5s">
            <ul>
                <li>
                    TOMATO Phú Nhuận: <a href="tel:028 3997 3585">028 3997 3585</a>
                </li>
                <li>
                    TOMATO SALA: <a href="tel:028 7300 9390">028 7300 9390</a>
                </li>
                <li>
                    TOMATO LAKEVIEW: <a href="tel:028 7300 9395">028 7300 9395</a>
                </li>
                <li>
                    TOMATO Quận 7: <a href="tel:028 7300 9391">028 7300 9391</a>
                </li>
                <li>
                    TOMATO Quận 9: <a href="tel:028 8888 9392">028 8888 9392</a>
                </li>

            </ul>
            <div style="
    position: absolute;
    left: 43%;
    bottom: 8px;
">
                Trụ sở chính: RED TOMATO EDUCATION CORPORATION
                <br> 327/5-7 Nguyễn Trọng Tuyến, Phường 10, Quận Phú Nhuận, TP Hồ Chí Minh
            </div>
        </div>
        <div class="blk-col blk-col-2 wow fadeInUp" data-wow-delay="0.5s">
            <ul>
                <li>
                    <a href="/ve-tomato/cau-chuyen-cua-tomato">Về TOMATO</a>
                </li>
                <li>
                    <a href="/chuong-trinh-hoc-tap/chuong-trinh-tieu-hoc">Chương trình</a>
                </li>
                <li>
                    <a href="/hoc-phi-tomato">Học phí</a>
                </li>
                <li>
                    <a href="/thu-vien-hoc-tap/ebook">Thư viện</a>
                </li>
                <li>
                    <a href="/ve-tomato/tin-tuc">Tin tức</a>
                </li>
                <li>
                    <a href="/lien-he">Liên hệ</a>
                </li>

            </ul>
        </div>

        <div class="blk-col blk-col-3 clearfix">
            <div class="content wow fadeInUp" data-wow-delay="0.5s">
                <span>Copyright © 2022 TOMATO Children’s Home.</span>
                <span>HOTLINE: <a href="tel:0906 616 212">0906 616 212</a></span>
            </div>
            <div class="social-footer wow fadeInUp" data-wow-delay="0.5s">
                <ul>

                    <li>
                        <a href="https://www.facebook.com/TruongTOMATO">
                            <img src="/static/images/ico-fb-red.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/truongtomato/">
                            <img src="/static/images/ico-instagram-red.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/TomatoChildrenHome">
                            <img src="/static/images/ico-yt-red.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <img class="img-tomato" src="/static/images/tomato-footer.png" alt="">
        </div>
    </div>
</footer>

