@using KidsSchool.Models.Dao;
@{
    var getconfig = DataPuplic.GetInstance().GetConfig(false);
    if (getconfig != null)
    {
        <footer class="page-footer clearfix">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                @Html.Raw(getconfig.Copyright)
            </div>
        </footer>
    }
}
