@model KidsSchool.Models.DB.AspNetUser


@{
    ViewBag.Title = "Quản lý tài khoản người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách Tài khoản</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <h3>Bạn muốn xóa tài khoản này ?</h3>
                <div>
                    <h4>Thông tin tài khoản</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group col-md-12">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Thực hiện xóa" class="btn btn-default btn-save">
                                <a class="btn btn-cancel" href="/Admin/AspNetUsers">Hủy bỏ</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section footerScript {
    <!-- Essential javascripts for application to work-->
    <script src="~/Assets/Admin/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Admin/js/popper.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Admin/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Admin/plugins/table2excel/jquery.table2excel.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Admin/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="~/Assets/Admin/js/plugins/pace.min.js"></script>
    <script src="~/Assets/Admin/js/plugins/sweetalert.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="~/Assets/Admin/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/Admin/js/plugins/dataTables.bootstrap.min.js"></script>

}
