<div>
    <style>
        .home-register {
            /*background: url(/assets/home/images/img-4.jpg) #0119d5 no-repeat;*/
            -webkit-background-size: 100% auto;
            background-size: 100% auto;
            padding-bottom: 60px;
        }
    </style>
    <div class="home-register" id="register_form">
        <div class="container-70">
            <div class="row">
                <div class="col-md-7">
                    <div class="content wow fadeInRight" data-wow-delay="0.2s">
                        <p> Liên hệ ngay với chúng tôi để nhận được những tư vấn chu đáo nhất </p>
                        <form action="javascript:SubmitSentContact('txtName','txtchildName','txtchildAge','txtmail','txtphone','none','selectCT','txtquestion', 1)">
                            <div class="md-row">
                                <input type="text" id="txtName" placeholder="Họ tên phụ huynh *" required>
                            </div>
                            <div class="md-row clearfix">
                                <div class="md-col-1">
                                    <input type="text" id="txtchildName" placeholder="Họ tên bé *" required>
                                </div>
                            </div>
                            <div class="md-row clearfix">
                                <div class="md-col-2">
                                    <input type="number" id="txtchildAge" placeholder="Tuổi của bé *" required>
                                </div>
                            </div>
                            <div class="md-row clearfix">
                                <div class="md-col">
                                    <input type="email" id="txtmail" placeholder="Email *" required>
                                </div>
                            </div>
                            <div class="md-row clearfix">
                                <div class="md-col">
                                    <input type="phone" id="txtphone" placeholder="Số điện thoại *" required>
                                </div>
                            </div>
                            <div class="md-chuongtrinh md-row">
                                <select id="selectCT">
                                    <option value="" disabled="disabled" selected="selected">Chương trình học quan tâm
                                    <option value="Mầm non">Mầm non </option>
                                    <option value="Tiểu học">Tiểu học</option>
                                    <option value="Năng khiếu">Năng khiếu</option>
                                </select>
                            </div>
                            <div class="md-row clearfix">
                                <div class="md-col">
                                    <textarea name="" id="txtquestion" cols="30" rows="3" placeholder="Câu hỏi…"></textarea>
                                </div>
                            </div>

                            <input v-if="!submit" onclick="SubmitSentContact('txtName','txtchildName','txtchildAge','txtmail','txtphone','none','selectCT','txtquestion', 1)" type="button" click="onSubmit" value="Đăng ký ngay">
                        </form>
                    </div>
                    <div class="img-right" style="right:  -150px"> <img class=" wow fadeInLeft" data-wow-delay="0.2s" src="/Assets/Home/images/home/children.png?w=400" alt=""> </div>

                </div>

                <div class="col-md-5" style="z-index: 99;">
                    <div>
                        <p>
                            <span>
                                <strong>Địa chỉ</strong>
                                <span style="font-weight: 400">
                                    <strong>:</strong>
                                    <a rel="noopener"> 12 - Mai Hắc Đế, quận Sơn Trà, ĐN</a>.
                                </span><span style="font-weight: 400"></span>
                            </span>
                        </p>
                        <p>
                            <span>
                                <strong>Điện thoại</strong>
                                <span style="font-weight: 400">
                                    <strong>:</strong>
                                    <a target="_blank" rel="noopener">0889539899</a>.
                                </span><span style="font-weight: 400"></span>
                            </span>
                        </p>
                        <p>
                            <span>
                                <strong>Email</strong>
                                <span style="font-weight: 400">
                                    <strong>:</strong>
                                    <a target="_blank" rel="noopener">contact@kojin.edu.vn</a>.
                                </span><span style="font-weight: 400"></span>
                            </span>
                        </p>
                        <p>
                            <span>
                                
                                <a target="_blank" href="https://www.facebook.com/profile.php?id=61550036407369">
                                    <img src="/Assets/Home/images/facebook.png?w=100&h=100&mode=crop" style="width: 100px; margin-right: 20px;" />
                                </a>

                                <a target="_blank" href="https://zalo.me/0889539899">
                                    <img alt="Zalo" src="/Assets/Home/images/zalo.png?w=100&h=100&mode=crop" data-pin-no-hover="true">
                                </a>

                            </span>
                        </p>
                        
                    </div>

                </div>

            </div>
            
       
        </div>
    </div>
</div>