@{
    ViewBag.Title = "Home Page";
}

<main class="page-main page-home">
    <div class="blk-banner-slider md-slider">
        <div class="fixed-social-destop">
            <ul>
                <li><a href="https://www.facebook.com/TruongTOMATO"><img src="/Assets/Home/images/ico-fb.png" alt=""></a></li>
                <li><a href="https://www.instagram.com/truongtomato/"><img src="/Assets/Home/images/ico-yt.png" alt=""></a></li>
                <li><a href="https://www.youtube.com/user/TomatoChildrenHome"><img src="/Assets/Home/images/ico-instagram.png" alt=""></a></li>
            </ul>
        </div>
        <div class="ctn-blk-banner">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <a href="https://tomato.edu.vn/chuong-trinh-hoc-tap/be-vao-lop-1/fun-abc"> <img src="/_default_upload_bucket/banner%20web-01.jpg"> </a>
                </div>
                <div class="item">
                    <a href="https://tomato.edu.vn/chuong-trinh-hoc-tap/chuong-trinh-mam-non/smart-kids-junior"> <img src="/_default_upload_bucket/smart%20kid%20junior%20online-banner%201920x1080.png"> </a>
                </div>
                <div class="item">
                    <a href="https://tomato.edu.vn/chuong-trinh-hoc-tap/be-vao-lop-1/strong-start"> <img src="/_default_upload_bucket/banner%20web-strong%20start.jpg"> </a>
                </div>
                <div class="item">
                    <a href="https://tomato.edu.vn/chuong-trinh-hoc-tap/chuong-trinh-he"> <img src="/_default_upload_bucket/summer%20school%202023%20-%20banner%20web%20trang%20chu-01khampha.png"> </a>
                </div>
                <div class="item">
                    <a href="https://mamnon.tomato.edu.vn/"> <img src="/_default_upload_bucket/banner%20web%20mam%20non-01%20%281%29_1.png"> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-triet-ly mrg-section">
        <div class="container-70">
            <div class="thumb-nail wow fadeInRight" data-wow-delay="0.2s"> <img alt="" title="" src="/_default_upload_bucket/thumb-1_1.png"> </div>
            <div class="content clearfix wow fadeInLeft" data-wow-delay="0.2s">
                <h3 class="md-title">TRIẾT LÝ CÀ CHUA</h3>
                <div class="info">
                    <p> Trong một khu vườn nhỏ vào một buổi sớm nọ, Cà Chua Non cựa mình mở mắt chào mặt trời.“Chào con, bé yêu của mẹ!” - Cà Chua Mẹ đặt một nụ hôn âu yếm lên trán của Cà Chua Non. “Chào mừng con đến với Khu vườn Cuộc Sống!” - Cà Chua Bố vẫy vẫy những chiếc lá xanh của ông dưới ánh nắng của buổi sớm mai một cách đầy hân hoan. </p>
                </div> <a href="/ve-tomato/triet-ly-va-phuong-phap-giao-duc" class="read-more">Xem thêm</a>
            </div>
        </div>
    </div>
    <div class="truong-ngoai-khoa mrg-section">
        <div class="container-70">
            <h3 class="md-title">TRƯỜNG NGOẠI KHÓA</h3>
            <div class="md-slider-center md-slider-center-1 wow fadeInUp" data-wow-delay="0.2s">
                <div class="owl-carousel owl-theme">
                    <div class="item item-1">
                        <div class="inner-item">
                            <div class="icon icon-1"> <img alt="" title="" src="/_default_upload_bucket/ico-tomato-1_2.jpg"> </div>
                            <div class="content">
                                <h4 class="font-size-35">
                                    Chương Trình Tiểu Học
                                </h4>
                                <div class="info">
                                    <p> Chương trình ngoại khóa của TOMATO được xây dựng theo phương pháp giáo dục hiện đại sẽ giúp các bé trang bị kỹ năng, động lực để có thể đánh thức những tiềm năng bên trong và trở thành những con người tự tin làm chủ cuộc đời mình. </p>
                                </div>
                                <div class="bottom"> <a href="/chuong-trinh-hoc-tap/chuong-trinh-tieu-hoc" class="md-more">Chi tiết</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item-1">
                        <div class="inner-item">
                            <div class="icon icon-2"> <img alt="" title="" src="/_default_upload_bucket/ico-tomato-2_1.jpg"> </div>
                            <div class="content">
                                <h4 class="font-size-39">Chương Trình Mầm Non</h4>
                                <div class="info">
                                    <p>Các chương trình dành cho bé trong độ tuổi từ 3 - 6 được TOMATO xây dựng theo phương pháp học bằng cách chơi để giúp các con phát triển về mặt cảm xúc, phát triển trí thông minh đa dạng ở giai đoạn đầu đời.</p>
                                </div>
                                <div class="bottom"> <a href="/chuong-trinh-hoc-tap/chuong-trinh-mam-non" class="md-more">Chi tiết</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item-1">
                        <div class="inner-item">
                            <div class="icon icon-3"> <img alt="" title="" src="/_default_upload_bucket/ico-tomato-3_1.jpg"> </div>
                            <div class="content">
                                <h4 class="font-size-35">Bé Vào Lớp 1</h4>
                                <div class="info">
                                    <p>Chương trình dành cho các bé chuẩn bị vào lớp 1 tại TOMATO sẽ là một môi trường giúp bé chuyển tiếp giữa trường mẫu giáo và trường tiểu học. Các bé sẽ tự tin bước vào lớp 1 với các kĩ năng làm chủ bản thân, làm chủ việc học và biết cách giải quyết vấn đề.</p>
                                </div>
                                <div class="bottom"> <a href="/chuong-trinh-hoc-tap/be-vao-lop-1" class="md-more">Chi tiết</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="blk-home-gellary mrg-section">
        <div class="container-70">
            <div class="blk-top wow fadeInUp" data-wow-delay="0.2s">
                <h3 class="md-title">HÌNH ẢNH TẠI TOMATO</h3>
                <p>TOMATO Children’s Home không chỉ là một ngôi trường dạy con các kỹ năng và làm chủ cảm xúc, nơi đây còn là ngôi nhà ấm áp thứ hai của trẻ. Dưới mái nhà TOMATO các bạn nhỏ được vui chơi an toàn, học hỏi những điều hay, được sống trọn vẹn với tuổi thơ của chính mình và kết nối với nhiều bạn bè đồng trang lứa. Mời ba cùng nhìn ngắm lại những khoảnh khắc đáng yêu của các con dưới mái nhà TOMATO Children’s Home.</p>
            </div>
            <div class="home-gellary-slider dot-start">
                <img class="ico-tomato md-desktop" src="/Assets/Home/images/home/tomato.png" alt="">
                <img class="ico-tomato md-mobile" src="/Assets/Home/images/home/tomato-mb.png" alt="">
                <div class="wrapper-slider">
                    <div class="owl-theme owl-carousel">


                        <div class="item clearfix wow zoomIn" data-wow-delay="0.5s">
                            <div class="inner-item">
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/NAM_0076_4K%2B%20%281%29.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/NAM_0076_4K%2B%20%281%29.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0003_4K%2B.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0003_4K%2B.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0065_4K%2B.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0065_4K%2B.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0322_4K%20%282%29.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0322_4K%20%282%29.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0423_4K%20%281%29.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0423_4K%20%281%29.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0548_4K%20%281%29.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0548_4K%20%281%29.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0634_4K.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0634_4K.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0393_4K%20%281%29.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0393_4K%20%281%29.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0214_4K%20%281%29.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0214_4K%20%281%29.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0585_4K.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0585_4K.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0357_4K.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0357_4K.jpg" alt=""></a>
                                </div>
                                <div class="img">
                                    <a data-fancybox="hinh-hoat-dong" data-caption="Bé cà chua và cô lý" href="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0458_4K%20%281%29.jpg"><img src="/ALBUM%20%E1%BA%A2NH%20TOMATO/anh%20home/TOMATO_0458_4K%20%281%29.jpg" alt=""></a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="home-register" id="register_form">
            <div class="container-70">
                <div class="img-right"> <img class=" wow fadeInLeft" data-wow-delay="0.2s" src="/Assets/Home/images/home/children.png" alt=""> </div>
                <div class="content wow fadeInRight" data-wow-delay="0.2s">
                    <p> TOMATO xem việc chia sẻ tri thức và đồng hành cùng gia đình là một nhiệm vụ và một niềm vinh dự.Hãy đăng ký để nhận (miễn phí) mỗi tháng một bài học mà phụ huynh có thể tự dạy ở nhà. </p>
                    <form action="">
                        <div class="md-row">
                            <input type="text" v-model="form.fullname_parents" placeholder="Họ tên phụ huynh *">
                            <!-- <p class="error">Vui lòng nhập họ tên phụ huynh</p> -->
                        </div>
                        <div class="md-row clearfix">
                            <div class="md-col-1">
                                <input type="text" v-model="form.fullname_baby" placeholder="Họ tên bé *">
                                <!-- <p class="error">Vui lòng nhập họ tên bé</p> -->
                            </div>
                        </div>
                        <div class="md-row clearfix">
                            <div class="md-col-2">
                                <input type="number" v-model="form.age_baby" placeholder="Tuổi của bé *">
                                <!-- <p class="error">Vui lòng nhập tuổi bé</p> -->
                            </div>
                        </div>
                        <div class="md-row clearfix">
                            <div class="md-col">
                                <input type="email" v-model="form.email" placeholder="Email *">
                                <!-- <p class="error">Vui lòng nhập email</p> -->
                            </div>
                        </div>
                        <div class="md-row clearfix">
                            <div class="md-col">
                                <input type="phone" v-model="form.phone" placeholder="Số điện thoại *">
                                <!-- <p class="error">Vui lòng nhập số điện thoại</p> -->
                            </div>
                        </div>
                        <div class="md-chuongtrinh md-row">
                            <select v-model="form.study_program">
                                <option value="" disabled="disabled" selected="selected">Chương trình học quan tâm
                                <option value="Chương trình tiểu học">Chương trình tiểu học
                                <option value="Chương trình mầm non">Chương trình mầm non
                                <option value="Bé vào lớp 1">Bé vào lớp 1
                                <option value="Chương trình Hè">Chương trình Hè
                            </select>
                        </div>
                        <div class="md-trungtam md-row">
                            <select v-model="form.center">
                                <option value="" disabled="disabled" selected="center">Trung tâm
                                <option value="TOMATO Phú Nhuận">TOMATO Phú Nhuận
                                <option value="TOMATO SALA">TOMATO SALA
                                <option value="TOMATO LAKEVIEW CITY">TOMATO LAKEVIEW CITY
                                <option value="TOMATO Quận 7">
                                    TOMATO Quận 7
                                    <!-- <option value="TOMATO Biên Hòa">TOMATO Biên Hòa</option> -->
                                <option value="TOMATO Quận 9">TOMATO Quận 9
                            </select>
                        </div>
                        <div class="md-trungtam md-row wow fadeInUp text-center" v-if="res.message && res.status"> <span :class="'text-'+res.status">{[{res.message}]}</span> </div>
                        <input v-if="!submit" type="button" click="onSubmit" value="Đăng ký ngay">
                        <input v-else="" type="button" style="opacity: 0.6" value="Loading...">
                    </form>
                </div>
            </div>
        </div>
        <div id="modal-sucess" class="md-modal">
            <div class="content-popup">
                <img class="ico-checked" src="/Assets/Home/images/popup.png" alt="">
                <div class="info">
                    <h4>Đăng ký thành công!</h4>
                    <p>Bộ phận CSKH sẽ sớm liên lạc lại với bạn trong thời gian sớm nhất.</p>
                </div>
                <div class="close">
                    <button data-fancybox-close="" class="btn btn-primary ">ĐÓNG</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img width="200" class="mb-2" src="/Assets/Home/images/logo.png" alt="">
                        <p>Đăng ký để nhận thông tin chương trình và các ưu đãi mới nhất từ TOMATO</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Để sau</button>
                        <a href="/dang-ky-ngay">
                            <button type="button" class="btn btn-primary">Đăng ký</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

    <!-- /.page-main -->
    <script type="application/javascript">

        var IndexVuejs = new Vue({
            el: '#register_form',
            delimiters: ['{[{', '}]}'],
            data: {
                form: {
                    fullname_parents: '',
                    fullname_baby: '',
                    age_baby: '',
                    email: '',
                    study_program: '',
                    center: '',
                    phone: ''
                },
                submit: false,
                res: {
                    message: '',
                    status: ''
                }

            },
            methods: {
                onSubmit(){
                    var sef = this;
                    sef.submit = true;
                    sef.res.message = '';
                    $.ajax({
                        url: "/tong-dai-tomato/register-now",
                        type: "POST",
                        dataType: "json",
                        headers: {
                        },
                        data: sef.form,
                        success: function(result) {

                            sef.res.status = result.status ? 'success' : 'danger';
                            sef.res.message = result.message;
                            sef.submit = false;
                            if (result.status){
                                sef.form.fullname_parents = '';
                                sef.form.fullname_baby = '';
                                sef.form.age_baby = '';
                                sef.form.email = '';
                                sef.form.study_program = '';
                                sef.form.center = '';
                                sef.form.phone = '';
                                dataLayer.push({'event': 'gtm_form_submit_success'});
                            };


                        },
                        error: function(xhr, textStatus, errorThrown ) {
                            sef.submit = false;
                        }
                    })
                },
            }
        })

    </script>


    