   <!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">

        @*@Html.GravatarImage(User.Identity.Name, new GravatarOptions { Size = 50, DefaultImageType = "wavatar", CssClass = "app-sidebar__user-avatar" })*@
        <img class="app-sidebar__user-avatar" src="/Assets/Home/images/home/tomato.png">
        <div>
            <p class="app-sidebar__user-name"><b>@User.Identity.Name</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item active" href="/Admin/Home/Index">
                <i class='app-menu__icon bx bx-tachometer'></i><span class="app-menu__label">Bảng điều khiển</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="/Admin/Pages/Index">
                <i class="app-menu__icon bx bx-task"></i><span class="app-menu__label">Trang đặc biệt</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item" href="/Admin/Posts/Index">
                <i class='app-menu__icon bx bx-task'></i><span class="app-menu__label">Quản lý Blog</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item " href="/Admin/ContactGHelps/Index">
                <i class='app-menu__icon bx bx-id-card'></i> <span class="app-menu__label">Liên hệ</span>
            </a>
        </li>
    </ul>
</aside>
<style>
    .dropdown-menu {
        background-color: #f59d39;
    }
</style>